<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   {% load static %}
    <title>add state</title>
      <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
  </head>
  <body id="bg" style="background-image: url({% static 'images/back3.jpg'%}); background-repeat: no-repeat;background-size: 100%">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ArogyaSetu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
      </li>

         <li class="nav-item">
        <a class="nav-link" href="{% url 'ucovedit' %}"> Details of States</a>
      </li>

         <li class="nav-item">
        <a class="nav-link" href="{% url 'user' %}">User Details</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{% url 'allreg' %}">Number of Register</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
  </header>

<section>
<div class="container-fluid">
    <h2 class="text-center text-capitalize pt-5"><u> Add Covid-19 Cases Overview</u></h2>



</div>
</section>
  <div class="container-fluid">
 <div class="container mb-5">
    <h1 class="text-center text-capitalize pt-5">Add States and UT/States</h1>
    <hr class="w-25 mx-auto pt-5">
   <div class="w-50 mx-auto">
 <form action=" " method="POST" name="myform">
  {% csrf_token %}
    <div class="form-group">
      <label for="sel1">Please Select Your State:</label>
      <select class="form-control" id="sel1" name="location" required>
        <option>Madhya Pradesh</option>
        <option>Chattisgarh</option>
        <option>Jammu And Kashmir</option>
        <option>Gujrat</option>
        <option>Maharashtra</option>
        <option>Maharashtra</option>
        <option>Himanchal Pradesh</option>
        <option>Punjab</option>
        <option>Uttrakhand</option>
        <option>Haryana</option>
        <option>Delhi</option>
        <option>Uttar Pradesh</option>
        <option>Goa</option>
        <option>Rajasthan</option>
        <option>Telngana</option>
        <option>Karnataka</option>
        <option>Kerla</option>
        <option>Tamil Nadu</option>
        <option>Andhra Pradesh</option>
        <option>Orissa</option>
        <option>Jharkhand</option>
        <option>Bihar</option>
        <option>West Bengal</option>
        <option>Arunanchal Pradesh</option>
        <option>Mizoram</option>
        <option>Tripura</option>
        <option>Manipur</option>
        <option>Nagaland</option>
        <option>Meghalaya</option>
        <option>Assam</option>
      </select>

    </div>
    <div class="form-group">
    <label for="fname">Number of Confirmed Cases:</label>
    <input type="number" class="form-control" placeholder="Enter Number" id="name" name="confirmed" autocomplete="off" required>
  </div>

   <div class="form-group">
    <label for="fname">Number of Recovered Cases:</label>
    <input type="number" class="form-control" placeholder="Enter Number" id="nam" name="recovered" autocomplete="off" required>
  </div>

   <div class="form-group">
    <label for="fname">Number of Deceased Cases:</label>
    <input type="number" class="form-control" placeholder="Enter Number" id="fname" name="deceased" autocomplete="off" required>
  </div>
    <button type="submit" class="btn btn-primary" value="add">Submit</button>
  </form>
   </div>
 </div>
  </div>



     <section>
      	<footer>
        <div class="container-fluid">
            <div class="row mb-5">
         <div class="col-lg-6 col-md-4 clo-12">
      <img src="{% static 'images/arogya.jpg' %}" class="card-img-top" alt="..." height="200">
         </div>
        <div class="col-lg-4 col-md-4 clo-12">
      <img src="{% static 'images/go.jpg' %}" class="card-img-top" alt="..." height="200">
         </div>

        </div>
        </div>
        <p class="text-center bg-dark text-white">@Copyright Anibaba.com 2020</p>
	</footer>

</section>

  </body>
</html>